.content::after {
      position: absolute;
      right: 120px;
      bottom: 120px;
      content: url(jay_small.png);
}


h2 {
	font-family: "Trebuchet MS", sans-serif;
	color: #007799;
	font-weight: bold;
	font-size: 30px;
}

h1 {
	font-family: "Trebuchet MS", sans-serif;
	color: #007799;
	font-weight: bold;
	font-size: 60px;
	position: relative;
	top: -50px;
}

ul {
	text-align: left;
}